/* Written by Tiffany. CSS for Verify.html*/

/* Import Google Font for text */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Carlito:wght@700&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
    background-color: darkblue;
    font-family: 'Anton', sans-serif;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    font-family: 'Open Sans', Arial, sans-serif;}

/* for the website name */
#name{
      font-size: 36px;
      color: white;
      text-align: center;
      font-family: 'Carter One', cursive;
  }
/* sets the styles for the hero section, including the background image, padding, text alignment, color, and margin bottom. */
.hero {
    background-image: url('../img/background.jpeg');
    background-size: cover;
        padding: 5rem 1rem;
        text-align: center;
        color: white;
        margin-bottom: 30px;
      }
      
.hero h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      
.hero p {
        margin-bottom: 2rem;
      }

/* The following CSS styles apply to form inputs and selects */
h1{
  font-family: 'Carlito', sans-serif;
}
h5{
  font-family: 'Roboto', sans-serif;
}
form {font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f8f8f8;;
    color: black;
    font-family: 'Playfair Display', serif;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;}

form input, form select {padding: 10px;
    border-radius: 5px;
    background-color: white;}

#submitButton{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; }

#submitButton:hover {
background-color: yellow;
color: black;
}
form p {margin-bottom: 5px;}
form input[type="checkbox"] {
margin-right: 10px; 
padding: 0; 
line-height: 1.5;
}

.boxHeight1{height: 50px;}
.boxHeight2{height: 1000px;}
.row{border-left: solid 15px;
    border-right: solid 15px;
    border-bottom: solid 15px;}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 600px;
    padding: 20px;
    border: solid 5px #333;
    padding-top: 20px;
}

/*
This code defines a style for a navigation bar with class "navbar".
When a link with the "nav-link" class is hovered over, the text color changes to the same golden yellow color (#ffcc00) used for the border.
*/
.navbar {
	background-color: #333;
	border-bottom: solid 5px #ffcc00;
}

.navbar-brand,
.nav-link {
	color: #fff;
	font-size: 1.2rem;
	margin-right: 1rem;
}

.nav-link:hover {
	color: #ffcc00;
}

.container-fluid {
	padding-top: 2rem;
}
/* This code defines a style for a group of options with class "options". */
  .options {
    margin-top: 20px;
  }
  
  .options ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .options li {
    margin-right: 20px;
  }
  
  .options li:last-child {
    margin-right: 0;
  }
  
  .options a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    border: 2px solid #333;
    border-radius: 5px;
  }
  
  .options a:hover {
    background-color: black;
    color: yellow;
  }

  /*This code defines styles for displaying credit card logos, including Visa and Mastercard logos. */
  .card-logos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .card-logo {
    margin: 0 20px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* The background image for the Visa logo is specified using a URL, and the same is done for the Mastercard logo.*/
  .card-logo-visa {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/1280px-Visa_Inc._logo.svg.png');
  }
  .card-logo-mastercard {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/1200px-Mastercard-logo.svg.png');
  }