body {
    background-color: #f8f9fa;}
form {font-family: Arial, sans-serif;
    font-size: 16px;}
form input, form select {padding: 10px;
    border-radius: 5px;}
form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; }
form button[type="submit"]:hover {
background-color: #0069d9;
}
form p {margin-bottom: 5px;}
form input[type="checkbox"] {
margin-right: 10px; 
padding: 0; 
line-height: 1.5;
}

.boxHeight1{height: 50px;}
.boxHeight2{height: 750px;}
.row{border-left: solid 15px;
    border-right: solid 15px;
    border-bottom: solid 15px;}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 600px;
    padding: 20px;
    border: solid 1px #ced4da;
    padding-top: 20px;
}
.navbar {
	background-color: #333;
	border-bottom: solid 5px #ffcc00;
}

.navbar-brand,
.nav-link {
	color: #fff;
	font-size: 1.2rem;
	margin-right: 1rem;
}

.nav-link:hover {
	color: #ffcc00;
}

.container-fluid {
	padding-top: 2rem;
}
body {
    background-image: url('../img/background.jpeg');
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    font-family: 'Open Sans', Arial, sans-serif;
  }