@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quintessential&family=Ultra&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
}
#website-name{
		font-size: 36px;
		color: white;
		text-align: center;
		font-family: 'Carter One', cursive;
}
input[type="text"] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	width: 300px;
	outline: none;
}
input[type="submit"] {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}

.navbar {
	background-color: #333;
	border-bottom: solid 5px #ffcc00;
}

.navbar-brand,
.nav-link {
	color: #fff;
	font-size: 1.2rem;
	margin-right: 1rem;
}

.nav-link:hover {
	color: #ffcc00;
}

.container-fluid {
	padding: 20px;
	padding-top: 2rem;
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: 1fr;
	gap: 20px;
}

.boxHeight1 {
	height: 50px;
	background-color: #e8e8e8;
	padding: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.boxHeight2 {
	height: 300px;
	background-color: #e8e8e8;
	padding: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.boxHeight2 p {
	margin-top: 1rem;
}

.boxHeight2 h4 {
	margin-top: 0;
	margin-bottom: 1rem;
}

.boxHeight2 input {
	margin-top: 1rem;
	padding: 0.5rem;
}

.boxHeight2 button {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	background-color: #ffcc00;
	color: #333;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.boxHeight2 button:hover {
	background-color: #333;
	color: #fff;
}
.additional-info {
	background-color: white;
	padding: 50px 0;
  }
  
  .additional-info h2 {
	margin-bottom: 20px;
  }
  
  .additional-info ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .additional-info ul li {
	margin-bottom: 10px;
  }
  footer, footer h2{
	color:black;
	background-color:#ddd;
	text-align: center;
	align-items: center;
	padding-top: 20px;
  }
  form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
  }
  
  label {
	font-weight: bold;
	margin-bottom: 5px;
	color: #fff;
  }
  
  input[type="text"],
  input[type="email"] {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	align-items: center;
  }
  
  input[type="submit"] {
	background-color: #007bff;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  input[type="submit"]:hover {
	background-color: #0062cc;
  }
  .intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 520px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/main-background.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }

  .intro h1 {
	font-family: sans-serif;
	font-size: 60px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
  }

  .intro p {
	font-size: 20px;
	color: #d1d1d1;
	text-transform: uppercase;
	margin: 20px 0;
  }

  .intro button {
	background-color: #5edaf0;
	color: #000;
	padding: 10px 25px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
  }

  .achievements {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 40px 80px;
  }

  .achievements .work {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
  }

  .achievements .work i {
	width: fit-content;
	font-size: 50px;
	color: white;
	border-radius: 50%;
	border: 2px solid #333333;
	padding: 12px;
  }

  .achievements .work .work-heading {
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	margin: 10px 0;
  }

  .achievements .work .work-text {
	font-size: 15px;
	color: white;
	margin: 10px 0;
  }

  .about-me {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 80px;
	border-top: 2px solid #eeeeee;
  }

  .about-me img {
	width: 500px;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
  }

  .about-me-text h2 {
	font-size: 30px;
	color: white;
	text-transform: uppercase;
	margin: 0;
  }

  .about-me-text p {
	font-size: 15px;
	color: white;
	margin: 10px 0;
  }
  .eventBanner{
	color: #fff;
	text-align: center;
  }
/* Event details CSS */
#mainEvent {
	font-size: 30px;
	font-family: 'Ultra', serif;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
  }

  .event_details{
	font-family: 'Playfair Display', serif;
  }
  .event-name{
	font-size: 30px;
	font-family: 'Playfair Display', serif;
  }
#hamilton {
	transition: all 0.3s ease-in-out;
  }
  
 #hamilton:hover {
	content: url("../img/Hamilton-hover.jpeg");
  }
  #sponge_bob {
	transition: all 0.3s ease-in-out;
  }
  
  #sponge_bob:hover {
	content: url("../img/SpongeBob_hover.jpeg");
  }
  #florence {
	transition: all 0.3s ease-in-out;
  }
  
  #florence:hover {
	content: url("../img/florence_hover.jpeg");
  }
  #blackpink {
	transition: all 0.3s ease-in-out;
  }
  
 #blackpink:hover {
	content: url("../img/Blackpink_hover.webp");
  }