@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
}
#website-name{
		font-size: 36px;
		color: white;
		text-align: center;
		font-family: 'Carter One', cursive;
}

.btn {
	background-color: #28a745;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
  }

.hero {
    background-color: #ddd;
    padding: 5rem 1rem;
    text-align: center;
	color: black;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    margin-bottom: 2rem;
  }
  .image-container {
	overflow: hidden;
	width: 130em; /* Change this to the desired width of your container */
	height: 30em; /* Change this to the desired height of your container */
	position: relative;
	padding: 10em;
	display: flex;
  	justify-content: center;
  	align-items: center;
	grid-template-columns: 2fr 2fr;  
  }
  .image-description {
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	color: white;
	line-height: 1.5;
	text-align: left;
	margin-top: 10px;
  }
  
  .image-description li {
	font-family: 'Bebas Neue', cursive;
	font-weight: 300;
	font-style: italic;
	font-size: 20px;
	color: whitesmoke;
	margin-bottom: 5px;
  }
  .image-container img {
	width: 40em;
	height: 30em;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  
  .image-container img:not(:first-child) {
	opacity: 0;
	transform: translateX(100%);
  }
  
  .image-container:hover img:not(:hover) {
	opacity: 0;
	transform: translateX(-100%);
  }
  
  .image-container:hover img:hover {
	opacity: 1;
	transform: translateX(0%);
  }
  .container-search {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}
#search-description{color: #fff;
					font-size: 18px;
					margin-top: 20px;
					text-align: center;}
input[type="text"] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	width: 300px;
	outline: none;
}
input[type="submit"] {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}

.navbar {
	background-color: #333;
	border-bottom: solid 5px #ffcc00;
}

.navbar-brand,
.nav-link {
	color: #fff;
	font-size: 1.2rem;
	margin-right: 1rem;
}

.nav-link:hover {
	color: #ffcc00;
}

.container-fluid {
	padding: 20px;
	padding-top: 2rem;
}

.boxHeight1 {
	height: 50px;
	background-color: #fff;
	padding: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.boxHeight2 {
	height: 300px;
	background-color: #fff;
	padding: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.boxHeight2 p {
	margin-top: 1rem;
}

.boxHeight2 h4 {
	margin-top: 0;
	margin-bottom: 1rem;
}

.boxHeight2 input {
	margin-top: 1rem;
	padding: 0.5rem;
}

.boxHeight2 button {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	background-color: #ffcc00;
	color: #333;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.boxHeight2 button:hover {
	background-color: #333;
	color: #fff;
}
.additional-info {
	background-color: white;
	padding: 50px 0;
  }
  
  .additional-info h2 {
	margin-bottom: 20px;
  }
  
  .additional-info ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .additional-info ul li {
	margin-bottom: 10px;
  }
  footer, footer h2{
	color:black;
	background-color:#ddd;
	text-align: center;
	align-items: center;
	padding-top: 20px;
  }
  form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
  }
  
  label {
	font-weight: bold;
	margin-bottom: 5px;
	color: #fff;
  }
  
  input[type="text"],
  input[type="email"] {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	align-items: center;
  }
  
  input[type="submit"] {
	background-color: #007bff;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  input[type="submit"]:hover {
	background-color: #0062cc;
  }
